<div class="container">
  <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-danger" %>

  <div class="link-form">
    <div class="text-center">
      <h1>Submit a link here</h1>
      <%= form_for(@new_link) do |f| %>
        <h4><%= f.label :title %></h4>
        <h4><%= f.text_field :title %></h4>
        <h4><%= f.label :url %></h4>
        <h4><%= f.text_field :url %></h4>
        <%= f.submit "Submit link", class: "btn btn-primary btn-font-size" %>
      <% end %>
    </div>
  </div>

  <div class="user-links">
    <% @links.each do |link| %>
    <ul>
      <div class="link-content col-md-6" id= <%= "#{link.id}" %> >
        <li>Title: <%= link.title %></li>
        <li>Link: <%= link.url %></li>
        <li>
          <%= link_to "Edit Link", edit_link_path(link.id) %>
        </li>
          <div class="unread-link"><button class="btn btn-primary">Mark as Read</button></div>
          <div class="read-link"><button class="btn btn-default">Mark as Unread</button></div>
      </div>
    </ul>
    <hr>
    <% end %>
  </div>
</div>
